<nav class="navbar navbar-expand navbar-light bg-light" >
    <img src="../assets/images/hps-removebg-preview.png" class="hpsimage">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/dashboard" >Home</a>
        <a class="nav-item nav-link active" routerLinkActive="active">Change Password</a>
    </div>
    <span style="flex: 1 1 auto;"></span>
    <div>
        <button mat-icon-button matTooltip="Notifications">
            <mat-icon>notifications</mat-icon>
        </button>
        <button mat-icon-button matTooltip="My Account">
            <mat-icon>account_circle</mat-icon>
        </button>
    </div>
    <div>
        <button mat-icon-button matTooltip="Logout">
            <a class="nav-item nav-link" (click)="authservice.SignOut()">
                <mat-icon>logout</mat-icon>
            </a>
        </button>
    </div>
</nav>


<mat-sidenav-container>
    <mat-sidenav-content class="content mat-elevation-z8">
        <div class="authBlock">
            <h1 class="hd">Change Password</h1>
      
            <p class="text-center" style="margin-top: 2em">Please enter your email address to request a password reset</p>
      
            <div class="aze">
              <input type="email" style="margin-top: 1em" class="formControl" placeholder="Email Address" #passwordResetEmail required>
            </div>
      
            <!-- ForgotPassword AuthService Api -->
            <div class="formGroup">
              <input id="bt5" style="margin-top: 3em" type="submit" class="btn btn-sm btn-success mb-2" value="Reset Password" (click)="authService.ForgotPassword(passwordResetEmail.value)">
            </div>
          </div>
        </mat-sidenav-content>
</mat-sidenav-container>
  

