<p class="txt">Card Information</p>

<div class="example-button-row">
    <button id="bt" mat-raised-button color="basic" type="button" mat-button >
        <mat-icon>credit_score</mat-icon>
        Activate Card
    </button>

    <button id="bt2" mat-raised-button color="basic" type="button" mat-button >
        <mat-icon>credit_card_off</mat-icon>
        Block Card
    </button>

    <button id="bt" mat-raised-button color="basic" type="button" mat-button >
        <mat-icon>credit_score</mat-icon>
        Unblock Card
    </button>

    <button id="bt" mat-raised-button color="basic" type="button" mat-button >
        <mat-icon>credit_score</mat-icon>
        Renew Card
    </button>
    
</div>
