<h1>HPS <h1>
    <h2 style="margin-top: 0.5em">ENABLING INNOVATIVE PAYMENTS</h2>
    
    <p>HPS is an innovative payment solutions company at the forefront of the international payment industry providing payment solutions for issuers, acquirers, card processors, independent sales organisations (ISOs), retailers, and national & regional switches around the world.
    PowerCARD is HPS' comprehensive suite of solutions that covers the entire payment value chain by enabling innovative payments through its omni-channel solution that allows the processing of any transactions coming from any channels initiated by any means-of-payment.
    Today PowerCARD is used by more than 400 institutions in over 90 countries.</p>
    
    
    <div class="example-button-row">
        <a href="https://www.linkedin.com/company/hps" target="_blank">
            <button id="bt" mat-raised-button color="basic" type="button" mat-button >
                <img src="../../../assets/images/a-removebg-preview.png">
                LinkedIn
            </button>
        </a>
    
        <a href="https://www.hps-worldwide.com/" target="_blank">
            <button id="bt2" mat-raised-button color="basic" type="button" mat-button >
                <img src="../../../assets/images/B-removebg-preview.png">
                WebSite
            </button>
        </a>
    
        <a href="https://www.youtube.com/channel/UCG8SC8iSUZlsqR9oOyvG7nA" target="_blank">
            <button id="bt3" mat-raised-button color="basic" type="button" mat-button >
                <img src="../../../assets/images/c-removebg-preview.png">
                YouTube
            </button>
        </a>
    
    </div>
    
    
    