<div class="col-md-6 offset-md-3 mt-5">
  <img src="../assets/images/hps-removebg-preview.png" class="hpsimage">
  <div class="card">
      <h4 class="card-header">Login</h4>
      <div class="card-body">
          <form >
            <div class="formGroup">
              <label>Email<span style="color:red;">*</span></label>
              <input type="email" class="form-control" placeholder="Email Address" #userEmail required>
            </div>
            <br>
            <div class="formGroup">
              <label>Password<span style="color:red;">*</span></label>
              <input type="password" class="form-control" placeholder="Password" #userPwd required>
            </div>
            <br>
            <div class="formGroup">
              <input type="button" class="btn btn-primary" value="Sign Up" (click)="authService.SignUp(userEmail.value, userPwd.value)">
            </div>
            <br>
            <div class="redirectToLogin">
              <span id="txt">Already have an account? <span class="redirect" routerLink="/login">Login</span></span>
            </div>
          </form>
      </div>
  </div>
</div>
