<h1>Adress</h1>



<form [formGroup]="form" >
    <div class="form-row">
        <div class="form-group col">
            <span class="title">Adress Line 1<span style="color:red;">*</span></span>
            <input type="text" class="form-control" />
        </div>
        <div class="form-group col">
            <span class="title">Adress Line 2</span>
            <input type="text" class="form-control" />
        </div>
    </div>
    
    <div class="form-row">
        <div class="form-group col">
            <span class="title">Adress Line 3</span>
            <input type="text" class="form-control" />
        </div>
        <div class="form-group col">
            <span class="title">Adress Line 4</span>
            <input type="text" class="form-control" />
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col">
            <span class="title">City Name<span style="color:red;">*</span></span>
            <input type="text" class="form-control" />
        </div>
        <div class="form-group col">
            <span class="title">Region Name<span style="color:red;">*</span></span>
            <input type="text" class="form-control" />
        </div>
    </div>
        <div class="form-group">
            <span class="title">Country Code<span style="color:red;">*</span></span>
            <input type="text" class="form-control" />
        </div>
    
        <div class="formGroup">
            <button id="bt" mat-raised-button color="basic" type="button" mat-button >
                <mat-icon>where_to_vote</mat-icon>
                Update Adress
            </button>
        </div>
</form>


